.video-player-bg {
  background: #142736;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.video-player-component {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  video {
    width: 100%;
  }
  p {
    color: #FFF;
    text-align: center;
  }
}
.close {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  z-index: 10;
  img{
    width:30px;
  }
}

.submit-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 9px;

  button {
    width: 100%;
    text-transform: uppercase;
    color: #000;
    border-radius:5px;
    background-color: #FFF;
    height: 46px;
    border: transparent;
    outline: none;
    font-size: 4vw;
    font-weight: 600;
  }
}