<div class="faq-component">
  <div class="container">
    <div class="box text-center">
      <div class="congrats">
        <h1>{{text3}}</h1>
      </div>
      <div class="congrats-text">
        <h5>{{text1}}</h5>
        <!-- <h5>{{text2}}</h5> -->
      </div>
      <div class="win-text">
        <!-- <p>Winner will be announced Soon</p> -->
      </div>
      <div class="btn-box" (click)="gotohome()">
        <div class="back-btn">
          <img src="assets/images/mahindra/Brochure.png"/>
          <p>{{text2}}</p>
        </div>
      </div>
    </div>
  </div>
</div>