.footer-component {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 2.25vw;
  background-color: #FFF;
  .tile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    .img-wrap {
      height: 34px;
      img {
        max-height: 100%;
      }
    }
    .text {
      color: #959595;
      font-size: 10px;
    }
  }
}
