@font-face {
  font-family: 'jio-medium';
  src: url('/assets/fonts/jio/JioType-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'jio-light';
  src: url('/assets/fonts/jio/JioType-Light.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'jio-bold';
  src: url('/assets/fonts/jio/JioType-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'jio-black';
  src: url('/assets/fonts/jio/JioType-Black.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/g-fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat-medium';
  src: url('/assets/fonts/g-fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('/assets/fonts/g-fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('src/assets/fonts/g-fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'PTSans-Regular';
  src: url('src/assets/fonts/g-fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('src/assets/fonts/g-fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'PTSans-Italic';
  src: url('src/assets/fonts/g-fonts/PTSans-Italic.ttf') format('truetype');
  font-weight: 400;
}