$primary-color: #3E3E3E;
$secondary-color: #BFA263;

$background-color1: #FFFFFF;
$background-color2: #11021A;
$button-bg-color: #66008D;
$border-color1: #42324B;
$border-color2: #403447;

$primary-font-family: 'Montserrat-medium', sans-serif;
$primary-font-size: 14px;
$secondary-font-family:'Montserrat';
